@import "tailwindcss";
@import "tw-animate-css";


body {
  font-family: 'DM Sans', sans-serif;
  color: white;
  background-color: #212224;
}

.grid-canvas {
  display: none !important;
}

html {
  scroll-behavior: smooth;
}